@page "/character/{id:int}"
@attribute [StreamRendering]
@using MarvelSharp
@using MarvelSharp.Model
@inject ApiService MarvelApi

@if (_character == null)
{
    <p>Loading...</p>
}
else
{
    <section class="bg-indigo-700 text-white p-4 flex flex-col md:flex-row">
        <section>
            <h3 class="text-2xl font-medium my-4">@_character.Name</h3>
            <p class="mb-4">@_character.Description</p>
        </section>
        <section class="flex-grow">
            <Thumbnail Path="@_character.Thumbnail.Path" 
                       Extension="@_character.Thumbnail.Extension"
                       class="h-80 object-cover" />
        </section>
       
    </section>

    <section>
        <h3>Comics</h3>
        <ol>
            @foreach (var comic in _character.Comics.Items)
            {
                <li class="p-1">
                    @comic.Name
                </li>
            }
        </ol>
    </section>
}


@code {
    private Character? _character;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var characterResult = await MarvelApi.GetCharacterByIdAsync(Id);
        _character = characterResult.Data.Result;
    }

}